/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); 
   npm install @fontsource/roboto -- evito problemas de CORS y errores de carga de fuentes
*/
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/600.css";
@import "@fontsource/roboto/700.css";

/*  theme.css 
    Definición de variables CSS para colores y tipografías del tema 
*/

:root {

    /* -------------
        Colorimetría 
       -------------
    */
    /* Brand Colors */
    --colorprimary: rgba(91, 39, 125, 1);
    --colorsecondary: rgba(234, 220, 244, 1);
    /* State Colors */
    --colorinfo: rgba(47, 128, 237, 1);
    --colorsuccess: rgba(39, 174, 96, 1);
    --colorwarning: rgba(226, 185, 59, 1);
    --colorerror: rgba(235, 87, 87, 1);
    /* Black colors */
    --colorblack-1: rgba(0, 0, 0, 1);
    --colorblack-2: rgba(29, 29, 29, 1);
    --colorblack-3: rgba(40, 40, 40, 1);
    --colorwhite: rgba(255, 255, 255, 1);
    /* Grey colors */
    --colorgrey-1: rgba(51, 51, 51, 1);
    --colorgrey-2: rgba(79, 79, 79, 1);
    --colorgrey-3: rgba(130, 130, 130, 1);
    --colorgrey-4: rgba(189, 189, 189, 1);
    --colorgrey-5: rgba(224, 224, 224, 1);

    --colorhover: rgba(138, 184, 51, 1);
    --dropshadow: 0px 4px 24px 0px rgba(9, 44, 76, 0.4);
    

    /* -------------
        Tipografías
       ------------- 
    */
    /* Global Font Family */
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    /* Heading 1 */
    /* --heading-h1-font-family: "Roboto", Helvetica; */
    --heading-h1-font-size: 56px;
    --heading-h1-font-style: normal;
    --heading-h1-font-weight: 700;
    --heading-h1-letter-spacing: 0px;
    --heading-h1-line-height: 61.6px;
    /* Heading 2 */
    /* --heading-h2-font-family: "Roboto", Helvetica; */
    --heading-h2-font-size: 48px;
    --heading-h2-font-style: normal;
    --heading-h2-font-weight: 700;
    --heading-h2-letter-spacing: 0px;
    --heading-h2-line-height: 52.8px;
    /* Heading 3 */
    /* --heading-h3-font-family: "Roboto", Helvetica; */
    --heading-h3-font-size: 40px;
    --heading-h3-font-style: normal;
    --heading-h3-font-weight: 700;
    --heading-h3-letter-spacing: 0px;
    --heading-h3-line-height: 44px;
    /* Heading 4 */
    /* --heading-h4-font-family: "Roboto", Helvetica; */
    --heading-h4-font-size: 32px;
    --heading-h4-font-style: normal;
    --heading-h4-font-weight: 700;
    --heading-h4-letter-spacing: 0px;
    --heading-h4-line-height: 35.2px;
    /* Heading 5 */
    /* --heading-h5-font-family: "Roboto", Helvetica; */
    --heading-h5-font-size: 24px;
    --heading-h5-font-style: normal;
    --heading-h5-font-weight: 700;
    --heading-h5-letter-spacing: 0px;
    --heading-h5-line-height: 26.4px;
    /* Heading 6 */
    /* --heading-h6-font-family: "Roboto", Helvetica; */
    --heading-h6-font-size: 20px;
    --heading-h6-font-style: normal;
    --heading-h6-font-weight: 600;
    --heading-h6-letter-spacing: 0px;
    --heading-h6-line-height: 22px;
    /* Text Style Large */
    /* --text-large-bold-font-family: "Roboto", Helvetica; */
    --text-large-bold-font-size: 20px;
    --text-large-bold-font-style: normal;
    --text-large-bold-font-weight: 700;
    --text-large-bold-letter-spacing: 0px;
    --text-large-bold-line-height: 28px;
    /* --text-large-font-family: "Roboto", Helvetica; */
    --text-large-font-size: 20px;
    --text-large-font-style: normal;
    --text-large-font-weight: 400;
    --text-large-letter-spacing: 0px;
    --text-large-line-height: 28px;
    /* Text Style Medium */
    /* --text-medium-bold-font-family: "Roboto", Helvetica; */
    --text-medium-bold-font-size: 18px;
    --text-medium-bold-font-style: normal;
    --text-medium-bold-font-weight: 700;
    --text-medium-bold-letter-spacing: 0px;
    --text-medium-bold-line-height: 25.2px;
    /* --text-medium-font-family: "Roboto", Helvetica; */
    --text-medium-font-size: 18px;
    --text-medium-font-style: normal;
    --text-medium-font-weight: 400;
    --text-medium-letter-spacing: 0px;
    --text-medium-line-height: 25.2px;
    /* Text Style Normal */
    /* --text-normal-bold-font-family: "Roboto", Helvetica; */
    --text-normal-bold-font-size: 16px;
    --text-normal-bold-font-style: normal;
    --text-normal-bold-font-weight: 700;
    --text-normal-bold-letter-spacing: 0px;
    --text-normal-bold-line-height: 22.4px;
    /* --text-normal-font-family: "Roboto", Helvetica; */
    --text-normal-font-size: 16px;
    --text-normal-font-style: normal;
    --text-normal-font-weight: 400;
    --text-normal-letter-spacing: 0px;
    --text-normal-line-height: 22.4px;
    /* Text Style Small */
    /* --text-small-bold-font-family: "Roboto", Helvetica; */
    --text-small-bold-font-size: 14px;
    --text-small-bold-font-style: normal;
    --text-small-bold-font-weight: 700;
    --text-small-bold-letter-spacing: 0px;
    --text-small-bold-line-height: 19.6px;
    /* --text-small-font-family: "Roboto", Helvetica; */
    --text-small-font-size: 14px;
    --text-small-font-style: normal;
    --text-small-font-weight: 400;
    --text-small-letter-spacing: 0px;
    --text-small-line-height: 19.6px;

    --body-text-font-size: 20px; 
    --body-text-font-style: normal; 
    --body-text-font-weight: 500; 
    --body-text-font-color: var(--colorgrey-3);
    --body-text-letter-spacing: 0px; 
    --body-text-line-height: 150%;
}
